:root {
  /* Colors */
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);

}

* {
  margin: 0;
  padding: 0;
}

.app-main {
  margin: 25% 0;
}

footer {
  padding: 0 20px;
  text-align: center;
}
